* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.topo {
    margin: 0;
    background-color: #41A3A9;
    width: 100%;
    width: 1583px;
    height: 70px;
}

.container {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0px;
    background-color: #41A3A9;
    width: 1583px;
}

.logo {
    margin-top: 12px;
    margin-left: 110px;
}

.cabecalho {
    padding-left: 30px;
    margin-top: 5px;
}

.cabecalho nav a {
    color: white;
    text-decoration: none;
    /*retira a linha debaixo do nome*/
    padding-right: 30px;
    /*afasta um item do outro*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: relative;
    /*necessário para o efeito de seleção*/

}

.cabecalho nav a::after {
    /*efeito de seleção da aba desejada*/
    content: " ";
    /*conteúdo vazio*/
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #f65e2b, #FF764A);
    position: absolute;
    top: 20px;
    /*coloca o tracejado para baixo*/
    left: 0px;
    /*tempo para iniciar o efeito*/
}

.cabecalho nav a:hover::after {
    width: 60px;
}

.icones {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: left;
}

.bandeira {
    margin-right: 20px;
}

.planeta {
    margin-right: 20px;
}

.idioma{
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

.idioma nav a {
    margin-left: 6px;
    color: white;
    text-decoration: none;
    /*retira a linha debaixo do nome*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.entrar button {
    width: 160px;
    height: 40px;
    justify-content: left;
    display: flex;
    margin-left: 30px;
    border-radius: 5px;
    border-color: transparent;
    /*borda transparente*/
    cursor: pointer;
    background-color: #FF764A;
}

.perfil {
    margin-left: 5px;
    margin-top: 4px;
}

#yes {
    color: white;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 8px;
}

.opcoes{
    display: flex;
    background-color: #A2DEE2;
    width: 1583px;
    height: 50px;
}

.containerPesquisa1{
    display: flex;
    border: 2px solid rgb(197, 189, 189);
    height: 35px;
    width: 120px;
    border-radius: 5px;
    margin-left: 1180px;
    position: relative;
    background-color: white;
    margin-top: 7px;
    margin-bottom: 18px;
}

.calendarioIcone{
    margin : 4px;
    background-color: white;
}

#data1{
    height: 30px;
    width: 80px;
    border : none;
}

#data1:focus{
    outline:none;
}

.containerPesquisa2{
    display : flex;
    border : 2px solid rgb(197, 189, 189);
    height: 35px;
    width: 120px;
    border-radius : 5px;
    margin-left : -280px;
    position: relative;
    background-color: white;
    margin-top: 7px;
}

#data2{
    height: 30px;
    width: 80px;
    border : none;
}

#data2:focus{
    outline:none;
}

.quadrado{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block; /*torna possível colocar um quadrado ao lado do outro*/
    cursor: pointer;
}

#estrela{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 5px;
    margin-left: 8px;
}

#qnt{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 5px;
    margin-left: 34px;
    color: rgb(19, 19, 19);
}

#qnt2{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 5px;
    margin-left: 910px;
    color: rgb(19, 19, 19);
}

#name1{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 28px;
    margin-left: 10px;
    color: black;
    font-size: 25px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#name2{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 28px;
    margin-left: 910px;
    color: black;
    font-size: 25px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#localizacao{
    position: absolute;
    margin-top: 55px;
    margin-left: 4px;
}

#destino1{
    margin-top: 58px;
    margin-left: 33px;
}

#destino2{
    color: black;
    text-decoration: underline;
}

.imgs{
    font-family: 'Ubuntu', sans-serif;
}

#principal{
    margin-left: 260px;
    border-radius: 8px;
}

#secundaria{
    position: absolute;
    margin-left: 20px;
    border-radius: 8px;
}

#terciaria{
    position: absolute;
    margin-left: 20px;
    margin-top: 245px;
    border-radius: 8px;
}

#quartenaria{
    position: absolute;
    margin-left: 265px;
    margin-top: 245px;
    border-radius: 8px;
}

#descricao{
    position: absolute;
    margin-top: 6px;
    margin-left: 260px;
    color: black;
    font-size: 16px;
}

.destaque{
    background-color: #A2DEE2;
    width: 1040px;
    height: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 85px;
    margin-left: 260px;
    border-radius: 3px;
    color: black;
}

#opcoes{
    margin-left: 10px;
    font-size: 21px;
    margin-top: 2px;
    position: absolute;
    font-weight: bold; /*colocar em negrito!!!!*/
}

.quadrado1{
    margin-left: 260px;
    margin-top: 30px;
    background-color: #ece2e2;
    width: 270px;
    height: 370px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block; /*torna possível colocar um quadrado ao lado do outro*/
    cursor: pointer;
}

.pop{
    display: block;
    border: 0;
    cursor: pointer;
}

#quarto{
    position: relative; /*torna possível adicionar outros elementos logo abaixo*/
    border-radius: 4px;
    display: flex;
}

#name3{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 8px;
    margin-left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#acomoda{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 38px;
    margin-left: 10px;
}

#qnt3{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 39px;
    margin-left: 36px;
    color: rgb(19, 19, 19);
}

#cama{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 63px;
    margin-left: 9px;
}

#camas{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 64px;
    margin-left: 36px;
    color: rgb(19, 19, 19);
}

#wifi{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 89px;
    margin-left: 10px;
}

#wifi2{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 89px;
    margin-left: 36px;
    color: rgb(19, 19, 19);

}

#de{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 115px;
    margin-left: 10px;
    color: black;
}

#preco{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 135px;
    margin-left: 10px;
    color: #DF7E24;
    font-size: 20px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

.reservar{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 128px;
    margin-left: 158px;
    background-color: #41A3A9;
    border-color: transparent;
    border-radius: 8px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#botao{
    font-size: 20px;

}

.quadrado2{
    margin-left: 112px;
    margin-top: 30px;
    background-color: #ece2e2;
    width: 270px;
    height: 370px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    display: inline-block; /*torna possível colocar um quadrado ao lado do outro*/
    cursor: pointer;
}

.quadrado3{
    margin-left: 500px;
    margin-top: 30px;
    background-color: #ece2e2;
    width: 270px;
    height: 370px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    display: inline-block; /*torna possível colocar um quadrado ao lado do outro*/
    cursor: pointer;
}

.linha2{
    margin-top: 0px;
}

/*Começo do Modal*/

/*Começo do Modal*/

.modal-content{
    margin-top: 160px;
}

.modal-body{
    height: 350px; /*torna possível expandir o modal*/
}


#exampleModalLabel{
    font-weight: bold; /*colocar em negrito!!!!*/
    font-family: 'Ubuntu', sans-serif;
}

#de1{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 240px;
    margin-left: -395px;
    color: black;
}

#preco1{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 262px;
    margin-left: -396px;
    color: #DF7E24;
    font-size: 20px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

.reservar1{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 253px;
    margin-left: -150px;
    background-color: #41A3A9;
    border-color: transparent;
    border-radius: 8px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#bote{
    font-size: 20px;
}

#acomodacao{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    margin-top: -38px;
}

#qnt4{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 36px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: -38px;
}

#areaa{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: -38px;
}

#qnt5{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 36px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: -39px;
}

#caminha{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: -41px;
}

#qnt6{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 40px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: -41px;
}

#chuveiro{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: -39px;
}

#qnt7{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 36px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: -34px;
}

#cozinha{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 24px;
}

#qnt8{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 38px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 28px;
}

#varanda{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 32px;
}

#qnt9{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 38px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 33px;
}

#ar-condicionado{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 36px;
}

#qnt10{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 39px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 36px;
}

#secador-de-cabelo{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 44px;
}

#qnt11{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 38px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 46px;
}

#TV{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 50px;
}

#qnt12{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 36px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 50px;
}

#servico-de-quarto{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 10px;
    display: block;
    margin-top: 50px;
}

#qnt13{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-left: 39px;
    color: rgb(19, 19, 19);
    display: block;
    margin-top: 52px;
}

/*Começo do Pop Up*/

.popup-wrapper{
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    margin-left: 500px;
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 900px;
    max-height: 550px;
    margin: 10% auto;
    background: white;
    position: relative;
    border-radius: 8px;

}

.popup a {
    font-family: 'Ubuntu', sans-serif;;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: white;
    color: black;
}

.popup-close{
    font-family: 'Ubuntu', sans-serif;;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    width: 30px;
    height: 25px;
}

#one{
    border-radius: 8px;
    display: block;
    background-color: white;
}

#direita{
    margin-left: 530px;
    cursor: pointer;
    position: absolute;
    display: flex;
    border: none;
    background: none;
    margin-top: 220px;
}

#esquerda{
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
    display: flex;
    border: none;
    background: none;
    margin-top: 220px;
}

#nametop{
    margin-top: 10px;
    margin-left: 595px;
    font-size: 18px;
    position: absolute;
    display: flex;
}

#area{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    margin-top: 35px;
    margin-left: 146px;
}

#textarea{
    position: absolute; /*torna possível mexer somente nesse elemento*/
    display: flex;
    margin-top: 35px;
    margin-left: 600px;
}

#tamanho{
    margin-top: 300px;
    margin-left: 595px;
    font-size: 14px;
    position: absolute;
    display: flex;
}

.destaque2{
    background-color: #A2DEE2;
    width: 1040px;
    height: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    margin-left: 260px;
    border-radius: 3px;
}

.comodidades{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 285px;
    padding-top: 20px;
}

#options{
    margin-left: 10px;
    font-size: 21px;
    margin-top: 2px;
    position: absolute;
    color: black;
    font-weight: bold; /*colocar em negrito!!!!*/
}

.topico1{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-left: 260px;
    padding-top: 20px;
}

.topico2{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-left: 645px;
    padding-top: 20px;
}

.topico3{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-left: 1035px;
    padding-top: 20px;
}

#servicos{
    font-size: 18px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#topicos1{
    margin-top: 4px;
}

#topicos2{
    margin-top: 4px;
}

#topicos3{
    margin-top: 4px;
}

.centrais{
    background-color: white;
    border: 1px solid;
    border-color: rgb(128, 126, 126);
    margin-top: 190px;
    font-family: 'Ubuntu', sans-serif;  
    list-style: none;
}

#faleconosco{
    color: black;
    font-size: 18px;
    position: absolute;
    margin-left: 1040px;
    margin-top: 15px;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#central{
    color: black;
    margin-top: 40px;
    position: absolute;
    font-size: 16px;
    margin-left: 1040px;
    cursor: pointer;
    text-decoration: underline;
}

#cancelamento{
    color: black;
    margin-top: 60px;
    position: absolute;
    font-size: 16px;
    margin-left: 1040px;
    cursor: pointer;
    text-decoration: underline;
}

.redes{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 260px;
    padding-top: 20px;
}

#redesSociais{
    margin-top: 25px;
    position: absolute;
    font-size: 18px;
    color: black;
    font-weight: bold; /*colocar em negrito!!!!*/
}

#facebook{
    position: absolute;
    margin-left: 180px;
    margin-top: 23px;
    border-color: transparent;
    cursor: pointer;
}

#twitter{
    position: absolute;
    margin-left: 210px;
    margin-top: 23px;
    border-color: transparent;
    cursor: pointer;
}

#instagram{
    position: absolute;
    margin-left: 240px;
    margin-top: 23px;
    border-color: transparent;
    cursor: pointer;
}

